<a href="https://colab.research.google.com/github/Kwangbin/data_01/blob/master/coffee_store_eda_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 소상공인시장진흥공단 상가업소정보로 스타벅스, 이디야 위치 분석하기
* https://www.data.go.kr/dataset/15012005/fileData.do
* [[비즈&빅데이터]스타벅스 '쏠림' vs 이디야 '분산'](http://news.bizwatch.co.kr/article/consumer/2018/01/19/0015)

In [0]:
# warning 메시지 제거, warning 메시지는 라이브러리 업데이트나 사용법에 대한 안내 등이 있습니다.
# 코딩을 처음 시작할 때는  warning 메시지가 나오면 당황하실 수도 있어서 제거를 하고 보도록 합니다.
# warning 메시지는 제거하고 보셔도 되지만 Error 메시지를 꼭 고쳐주셔야 합니다.
import warnings
warnings.filterwarnings('ignore')

## 필요한 라이브러리 불러오기

In [0]:
#pd, np, sns등 공식 명칭을 사용 하는게 오류를 줄임
import pandas as pd
import numpy as np
import seaborn as sns
# 지도 시각화를 위해
import folium

# 노트북 안에서 그래프를 표시하기 위해
%matplotlib inline

In [0]:
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
# Window 의 한글 폰트 설정
# plt.rc('font',family='Malgun Gothic')
# Mac 의 한글 폰트 설정
plt.rc('font', family='Malgun Gothic') 
plt.rc('axes', unicode_minus=False)

set_matplotlib_formats('retina')

# 그래프가 노트북 안에 보이게 하기 위해
%matplotlib inline

## Colab 에서 실행을 위한 코드

* 아래의 코드는 google colaboratory 에서 실행을 위한 코드로 로컬 아나콘다에서는 주석처리합니다.
* google colaboratory 에서는 주석을 풀고 폰트 설정과 csv 파일을 불러옵니다.

In [9]:
# 나눔고딕 설치
!apt -qq -y install fonts-nanum > /dev/null

import matplotlib.font_manager as fm

fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
fm._rebuild()

# 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

# Colab 의 한글 폰트 설정
plt.rc('font', family='NanumBarunGothic')

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [0]:
# 구글 드라이브에서 csv 파일을 읽어오기 위해 gauth 인증
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# PyDrive client 인증
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [11]:
# 공유 가능한 링크로 파일 가져오기
url = 'https://drive.google.com/open?id=1xvJs9ZxUHoBBAUXq1IWEaRXgcop8KjrT'
id = url.split('=')[1]
print(id)
downloaded = drive.CreateFile({'id':id}) 
# data 폴더에 파일을 관리하며, 폴더가 없다면 만들어서 파일을 관리하도록 한다.
%mkdir data
downloaded.GetContentFile('data/store_201906_01.csv')

1xvJs9ZxUHoBBAUXq1IWEaRXgcop8KjrT
mkdir: cannot create directory ‘data’: File exists

## 데이터 불러오기
* 데이터 다운로드 위치 : https://www.data.go.kr/dataset/15012005/fileData.do
* 공공데이터 포털에서 소상공인시장진흥공단 상가업소정보를 다운로드 받아 사용했습니다.
* 구글드라이브에서 받기 : https://drive.google.com/open?id=1xvJs9ZxUHoBBAUXq1IWEaRXgcop8KjrT

In [12]:
# 데이터를 불러와 df_store 라는 변수에 담아주세요.
df_store = pd.read_csv("data/store_201906_01.csv")
df_store.head()

     상가업소번호            상호명         지점명  ...  호정보          경도         위도
0  19911397  커피빈코리아선릉로93길점  코리아선릉로93길점  ...  NaN  127.047883  37.505675
1  19911801           프로포즈         NaN  ...  NaN  126.899220  37.471711
2  19912201       싱싱커피&토스트         NaN  ...   26  128.980455  35.159774
3  19905471         와라와라호프         NaN  ...  NaN  127.061026  37.493922
4  19932756       가락사우나내스낵         NaN  ...  NaN  127.104071  37.500249

[5 rows x 39 columns]

## 데이터 크기 보기

In [13]:
df_store.shape

(565016, 39)

## info 보기

In [14]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565016 entries, 0 to 565015
Data columns (total 39 columns):
상가업소번호       565016 non-null int64
상호명          565015 non-null object
지점명          75524 non-null object
상권업종대분류코드    565016 non-null object
상권업종대분류명     565016 non-null object
상권업종중분류코드    565016 non-null object
상권업종중분류명     565016 non-null object
상권업종소분류코드    565016 non-null object
상권업종소분류명     565016 non-null object
표준산업분류코드     532064 non-null object
표준산업분류명      532064 non-null object
시도코드         565016 non-null int64
시도명          565016 non-null object
시군구코드        565016 non-null int64
시군구명         565016 non-null object
행정동코드        565016 non-null int64
행정동명         565016 non-null object
법정동코드        565016 non-null int64
법정동명         565016 non-null object
지번코드         565016 non-null int64
대지구분코드       565016 non-null int64
대지구분명        565016 non-null object
지번본번지        565016 non-null int64
지번부번지        467893 non-null float64
지번주소         565016 non-null object
도로명코드        565016 non-null int64
도로명          565016 non-null object
건물본번지        565016 non-null int64
건물부번지        70852 non-null float64
건물관리번호       565016 non-null object
건물명          261208 non-null object
도로명주소        565016 non-null object
구우편번호        565016 non-null int64
신우편번호        565007 non-null float64
동정보          50214 non-null object
층정보          344553 non-null object
호정보          83136 non-null object
경도           565016 non-null float64
위도           565016 non-null float64
dtypes: float64(5), int64(11), object(23)
memory usage: 168.1+ MB

## 결측치 보기

In [15]:
#상호명과 지점명이 틀리는 결측치 발생
df_store.isnull().sum()

상가업소번호            0
상호명               1
지점명          489492
상권업종대분류코드         0
상권업종대분류명          0
상권업종중분류코드         0
상권업종중분류명          0
상권업종소분류코드         0
상권업종소분류명          0
표준산업분류코드      32952
표준산업분류명       32952
시도코드              0
시도명               0
시군구코드             0
시군구명              0
행정동코드             0
행정동명              0
법정동코드             0
법정동명              0
지번코드              0
대지구분코드            0
대지구분명             0
지번본번지             0
지번부번지         97123
지번주소              0
도로명코드             0
도로명               0
건물본번지             0
건물부번지        494164
건물관리번호            0
건물명          303808
도로명주소             0
구우편번호             0
신우편번호             9
동정보          514802
층정보          220463
호정보          481880
경도                0
위도                0
dtype: int64

## 사용하지 않는 컬럼 제거하기

In [0]:
# 결측치 문제로 결측치 제거
drop_columns = ["상권업종중분류코드", "상권업종소분류코드", 
                "건물관리번호", "표준산업분류코드", "표준산업분류명", 
                "지번부번지", "층정보", "건물명", "호정보", 
                "지점명", "건물부번지", "동정보"]

In [18]:
df_store[drop_columns]

       상권업종중분류코드 상권업종소분류코드                     건물관리번호  ...         지점명 건물부번지  동정보
0            Q12    Q12A01  1168010100106960042022041  ...  코리아선릉로93길점   NaN  NaN
1            Q09    Q09A01  1154510200101620001017748  ...         NaN   6.0  NaN
2            Q07    Q07A10  2653010400105780000002037  ...         NaN   NaN  NaN
3            Q09    Q09A01  1168010600106040000014378  ...         NaN   NaN  NaN
4            F09    F09A02  1171010500102560005010490  ...         NaN   NaN  NaN
5            Q07    Q07A10  1121510300100770047020647  ...         NaN   NaN  NaN
6            Q04    Q04A01  1150010800100450031005883  ...         NaN   NaN  NaN
7            Q07    Q07A01  1114016200103720095000001  ...         약수점   NaN  NaN
8            Q01    Q01A02  1150010300110860003013118  ...         NaN   NaN  NaN
9            Q03    Q03A03  1171010200100070028000237  ...         NaN  19.0  NaN
10           Q12    Q12A01  1156013300106040056037792  ...         NaN   1.0  NaN
11           Q01    Q01A01  1141011900103070003002306  ...        북가좌점   NaN  NaN
12           D01    D01A13  1123010300106350018034656  ...         NaN   NaN  NaN
13           Q07    Q07A01  1121510900101000017018656  ...         NaN   2.0  NaN
14           Q01    Q01A01  1121510700102070003018172  ...         NaN   NaN  NaN
15           Q07    Q07A06  1123010400106200067000001  ...      롯데청량리점   NaN  NaN
16           Q12    Q12A01  1114012700101050000019781  ...         NaN  13.0  NaN
17           D10    D10A07  1150010300103690053013643  ...         NaN   3.0  NaN
18           Q04    Q04A01  1171010300103990017025154  ...         NaN   NaN  NaN
19           D02    D02A05  1156012700100240000037460  ...         NaN   NaN  101
20           Q12    Q12A01  1165010800116570005024412  ...      코리아교대점   NaN  NaN
21           Q01    Q01A01  1154510100100600004015530  ...         NaN   NaN  NaN
22           Q12    Q12A01  1129012500100010002039525  ...         NaN   NaN  NaN
23           Q01    Q01A01  1153010200104060010000019  ...         NaN   NaN    D
24           Q03    Q03A06  1129013400100200001025204  ...         NaN   NaN  NaN
25           Q01    Q01A01  1135010600103640014011081  ...         NaN   NaN  NaN
26           Q04    Q04A01  1168010500101590000017116  ...         NaN   NaN    A
27           Q03    Q03A13  1168010700105120013027367  ...         NaN   NaN  NaN
28           Q03    Q03A13  2626010800113800002003460  ...         NaN   NaN  NaN
29           Q06    Q06A01  2623010400108470015054042  ...         NaN   NaN  NaN
...          ...       ...                        ...  ...         ...   ...  ...
564986       D03    D03B10  1171010200100070019000140  ...      잠실시그마점   NaN  NaN
564987       D03    D03B10  1171011200100720002014418  ...       송파오금점   1.0  NaN
564988       Q01    Q01A08  1141011800100110452011358  ...         NaN   NaN  NaN
564989       Q01    Q01A08  2626010800112530025005889  ...         NaN   NaN  NaN
564990       Q01    Q01A16  1144012000104090010029211  ...         NaN   NaN  NaN
564991       F06    F06A01  1141011600100720031032768  ...         NaN   NaN  NaN
564992       F06    F06A01  1144012000103510028010170  ...         NaN   5.0  NaN
564993       D06    D06A01  1165010200103920004003148  ...         NaN   NaN  NaN
564994       D06    D06A01  2671025321200070000000001  ...         NaN   NaN  NaN
564995       P02    P02A01  2626010200106330044021584  ...         NaN   NaN  NaN
564996       D08    D08A01  1156013200149330000013212  ...         NaN   NaN  NaN
564997       D17    D17A01  1144012400105610004016388  ...         NaN   NaN  NaN
564998       D17    D17A01  1150010400114850000009308  ...         NaN   NaN  613
564999       D17    D17A01  2626010200101530001018480  ...         NaN   NaN  NaN
565000       R05    R05A02  1144012500102320004017537  ...         NaN   NaN  NaN
565001       F03    F03A05  1120010500108220000022503  ...         NaN   NaN  102
565002       F03    F03A05  2620012100109700006012216  ...         NaN   NaN  NaN
565003       Q02    Q02A00  1111014200100170001026376  ...         NaN   8.0  NaN
565004       Q05    Q05A08  2641010900100250004024846  ...       가톨릭대점   NaN  NaN
565005       Q05    Q05A08  2641010900103860013008896  ...         NaN   NaN  NaN
565006       Q05    Q05A08  1144012700100330012025539  ...         상암점   NaN  NaN
565007       D03    D03A03  2641011200102090008000001  ...         NaN   NaN  101
565008       D07    D07A01  1165010800114800013021508  ...         NaN   3.0  NaN
565009       D12    D12A05  2614010500102670004004959  ...         NaN   2.0  NaN
565010       Q02    Q02A00  1165010600100140010019163  ...     IN오늘의등심   2.0  NaN
565011       Q02    Q02A00  2641011000102180001013127  ...         NaN   NaN  NaN
565012       Q02    Q02A00  1144012300100570138013520  ...         NaN   NaN  NaN
565013       R10    R10A01  2626010800112480004011513  ...         NaN   1.0  NaN
565014       D12    D12A05  2638010300105220024033909  ...         NaN   NaN  NaN
565015       D12    D12A05  2614011800100170005012010  ...         NaN   NaN  NaN

[565016 rows x 12 columns]

In [0]:
# 아래 발생 하는 자료의 예제를 실행 해보면 이행 하기 쉽다.
df_store.drop?

In [20]:
#컬럼 사라지지 않음 변수에 다시 넣어야함
df_store.drop(drop_columns, axis=1)

          상가업소번호             상호명 상권업종대분류코드  ...    신우편번호          경도         위도
0       19911397   커피빈코리아선릉로93길점         Q  ...   6149.0  127.047883  37.505675
1       19911801            프로포즈         Q  ...   8545.0  126.899220  37.471711
2       19912201        싱싱커피&토스트         Q  ...  46977.0  128.980455  35.159774
3       19905471          와라와라호프         Q  ...   6280.0  127.061026  37.493922
4       19932756        가락사우나내스낵         F  ...   5690.0  127.104071  37.500249
5       19964615           석봉토스트         Q  ...   4992.0  127.088387  37.549245
6       19975850            허술한집         Q  ...   7619.0  126.809957  37.562013
7       19977290            피자마루         Q  ...   4596.0  127.010861  37.552153
8       19979960            홍능갈비         Q  ...   7718.0  126.836078  37.538927
9       19983535             초밥왕         Q  ...   5510.0  127.102490  37.515149
10      20020124           스완카페트         Q  ...   7379.0  126.897710  37.503693
11      19969945            에브리돈         Q  ...   3681.0  126.910288  37.579029
12      19969947            대왕농산         D  ...   2572.0  127.043189  37.580073
13      19970556           솔로몬피자         Q  ...   5001.0  127.071184  37.552103
14      19971398            우리식당         Q  ...   5022.0  127.076812  37.545461
15      19971658          크리스피크림         Q  ...   2559.0  127.045022  37.580196
16      19973708              왕실         Q  ...   4535.0  126.982419  37.562274
17      19974666           신호건강원         D  ...   7765.0  126.840285  37.535419
18      19989422          Mr.피터팬         Q  ...   5537.0  127.115873  37.527477
19      19999875        제이씨코퍼레이션         D  ...   7269.0  126.885320  37.526139
20      20004707             커피빈         Q  ...   6634.0  127.014217  37.492388
21      20006330            코롱식당         Q  ...   8512.0  126.886859  37.480390
22      19993199    고려대학교교육관쎄리오점         Q  ...   2841.0  127.031702  37.588485
23      19996819            전주식당         Q  ...   8212.0  126.880898  37.504067
24      19987359          아구본가첨벙         Q  ...   2730.0  127.028726  37.608392
25      20013190            청암회관         Q  ...   1737.0  127.078464  37.648247
26      20014818              쉼터         Q  ...   6164.0  127.057100  37.512939
27      20015136  배제현의웰빙낙지한마리수제비         Q  ...   6035.0  127.020945  37.517574
28      20031733        동해제일산오징어         Q  ...  47838.0  129.068324  35.202902
29      20033259          리지호프소주         Q  ...  47361.0  129.059574  35.144776
...          ...             ...       ...  ...      ...         ...        ...
564986  16310414           이마트24         D  ...   5510.0  127.102496  37.514609
564987  16310431           이마트24         D  ...   5728.0  127.134831  37.504307
564988  16291301          우주최강족발         Q  ...   3603.0  126.947738  37.599282
564989  16288713            김s비어         Q  ...  47850.0  129.065922  35.203978
564990  16289850            최가면반         Q  ...   4049.0  126.921732  37.549373
564991  16288850         스튜디오에이엠         F  ...   3787.0  126.933236  37.556884
564992  16288527           위아클래스         F  ...   4031.0  126.920283  37.555622
564993  16284500              이연         D  ...   6783.0  127.047623  37.472757
564994  16283894     미셀프리미엄아울렛부산         D  ...  46029.0  129.234971  35.323748
564995  16282583            팀투팍짐         P  ...  47901.0  129.099447  35.192392
564996  16287786          창대종합상사         D  ...   7382.0  126.903076  37.507221
564997  16290018            컬러버스         D  ...   3988.0  126.920431  37.561074
564998  16289520            구름나무         D  ...   7531.0  126.859924  37.562380
564999  16288168          아틀리에아바         D  ...  47899.0  129.105252  35.192087
565000  16283416         원뮤직스튜디오         R  ...   3999.0  126.916328  37.559919
565001  16289625           주신에어컨         F  ...   4753.0  127.043517  37.568605
565002  16288463           씽씽에어컨         F  ...  49126.0  129.080019  35.064948
565003  16289082            호중정원         Q  ...   3053.0  126.981176  37.581212
565004  16283641           60계부산         Q  ...  46253.0  129.094033  35.241413
565005  16283480      팔삼육숯불바베큐치킨         Q  ...  46307.0  129.088556  35.220479
565006  16283157              꿀닭         Q  ...   3930.0  126.895967  37.575940
565007  16287768            황금유통         D  ...  46329.0  129.116277  35.225049
565008  16290087      서초종합공사인테리어         D  ...   6709.0  127.007440  37.482410
565009  16291444           대성모바일         D  ...  49234.0  129.014195  35.110118
565010  16284293           전설의짬뽕         Q  ...   6525.0  127.018305  37.516146
565011  16284103          서동수타짬뽕         Q  ...  46328.0  129.104354  35.210961
565012  16282701              주방         Q  ...   4012.0  126.907641  37.555677
565013  16283091         원클래스독서실         R  ...  47851.0  129.067468  35.205469
565014  16287899           에스에스엠         D  ...  49314.0  128.961386  35.107213
565015  16286754            천사통신         D  ...  49246.0  129.022555  35.097951

[565016 rows x 27 columns]

In [0]:
df_store= df_store.drop(drop_columns, axis=1)

In [22]:
df_store.shape

(565016, 27)

## 일부 컬럼만 보기

In [23]:
# 상권업종대분류명 컬럼만 보기
df_store["상권업종대분류명"].head()

0       음식
1       음식
2       음식
3       음식
4    생활서비스
Name: 상권업종대분류명, dtype: object

In [24]:
# 상권업종소분류명 컬럼만 보기
df_store["상권업종소분류명"].head()

0    커피전문점/카페/다방
1          호프/맥주
2          토스트전문
3          호프/맥주
4     사우나/증기탕/온천
Name: 상권업종소분류명, dtype: object

In [25]:
# 상권업종대분류명, 상권업종소분류명 컬럼만 보기
df_store["상권업종대분류명", "상권업종소분류명"]

KeyError: ignored

In [0]:
# 제거하는 방법도 있지만 사용할 컬럼만 남겨두는 방법도 있습니다.

# 위에 있는 컬럼만 따로 불러옵니다.

In [26]:
#두개 이상의 항목 가져올때는 [] 리스트 형태로 가져와야 한다.
df_store[["상권업종대분류명", "상권업종소분류명"]].head()

  상권업종대분류명     상권업종소분류명
0       음식  커피전문점/카페/다방
1       음식        호프/맥주
2       음식        토스트전문
3       음식        호프/맥주
4    생활서비스   사우나/증기탕/온천

In [27]:
df_store[["상권업종대분류명", "상권업종소분류명"]].sample()

       상권업종대분류명 상권업종소분류명
184993       음식     파전전문

## 일부 텍스트가 들어가는 데이터만 가져오기

In [0]:
# 결측치 문제로 결측치 제거
drop_columns = df_columns = ['상가업소번호', '상호명', '상권업종대분류명', 
       '상권업종중분류명',  '상권업종소분류명', 
       '시도명', '시군구명', '행정동명', '법정동명', 
       '지번주소', '도로명코드', '도로명주소', 
       '구우편번호', '신우편번호', '경도', '위도']

In [0]:
df_store=df_store[df_columns].copy()

In [33]:
df_store.shape

(565016, 16)

In [0]:
# 커피라는 텍스트가 들어가는 상권업소중소분류명만 가져옵니다.
# Pandas Series의 str.contains 기능을 사용해 가져올 수 있습니다.
# 가져온 데이터를 coffee 라는 데이터프레임에 담아봅니다.

In [0]:
# 상호명으로 봤을 때 커피점의 수 보기

In [35]:
coffee=df_store[df_store['상권업종소분류명'].str.contains("커피")]
coffee.shape

(23103, 16)

## 특정 상호만 가져오기
* 여기에서는 스타벅스 상호를 가져와서 실습합니다.
* 위에서 커피를 가져왔던 내용을 활용해 봅니다.

In [36]:
# 상호명을 보면 겹치는 문자가 많습니다. 스타벅스의 unique한 상호명만 가져옵니다.
coffee["상호명"].unique()

array(['커피빈코리아선릉로93길점', '스완카페트', '왕실', ..., '놀러오시개', '뉴욕보틀', '블루빈로스터스커피'],
      dtype=object)

In [37]:
coffee["상호명"].nunique()

15205

In [41]:
coffee.loc[coffee["상호명"].str.contains("스타벅스"),"상호명"].head()

1219               스타벅스
1946          스타벅스종로3가점
2840               스타벅스
14939    스타벅스커피여의도IFC1F
14951              스타벅스
Name: 상호명, dtype: object

## 시도별 데이터 보기
* 시도와 구군 데이터가 있습니다. 어느 시도의 데이터가 있는지 봅니다.

In [43]:
df_store["시도명"]

0         서울특별시
1         서울특별시
2         부산광역시
3         서울특별시
4         서울특별시
5         서울특별시
6         서울특별시
7         서울특별시
8         서울특별시
9         서울특별시
10        서울특별시
11        서울특별시
12        서울특별시
13        서울특별시
14        서울특별시
15        서울특별시
16        서울특별시
17        서울특별시
18        서울특별시
19        서울특별시
20        서울특별시
21        서울특별시
22        서울특별시
23        서울특별시
24        서울특별시
25        서울특별시
26        서울특별시
27        서울특별시
28        부산광역시
29        부산광역시
          ...
564986    서울특별시
564987    서울특별시
564988    서울특별시
564989    부산광역시
564990    서울특별시
564991    서울특별시
564992    서울특별시
564993    서울특별시
564994    부산광역시
564995    부산광역시
564996    서울특별시
564997    서울특별시
564998    서울특별시
564999    부산광역시
565000    서울특별시
565001    서울특별시
565002    부산광역시
565003    서울특별시
565004    부산광역시
565005    부산광역시
565006    서울특별시
565007    부산광역시
565008    서울특별시
565009    부산광역시
565010    서울특별시
565011    부산광역시
565012    서울특별시
565013    부산광역시
565014    부산광역시
565015    부산광역시
Name: 시도명, Length: 565016, dtype: object

In [45]:
# 시도에 결측치가 있는지 다시 봅니다.
df_store["시도명"].isnull().sum()

0

In [46]:
# 어떤 시도가 있는지 봅니다.
# 다른 지역을 참고하고 싶다면 같은 폴더에 있는 다른 파일을 참고해 주세요.
# Pandas Series의 value_counts 기능을 사용합니다.
df_store["시도명"].value_counts()

서울특별시    401071
부산광역시    163945
Name: 시도명, dtype: int64

In [0]:
# 시군구명의 unique 값만 봅니다.

In [0]:
# coffee 데이터프레임에서 "상권업종중분류명" 을 봅니다. 
# Pandas Series의 value_counts 기능을 사용합니다.

In [0]:
# 경도와 위도가 있습니다. 데이터를 그려봅니다.
# Pandas의 plot.scatter 기능을 활용합니다.
# df_store[:1000]

## 서울만 따로 보기

In [0]:
df_seoul = df_store.loc[df_store['시도명'].str.startswith('서울')].copy()
df_seoul.shape

In [0]:
# df_seoul 에서 상권업종대분류명의 value_counts 를 봅니다.

In [0]:
# describe 를 활용해 요약해 봅니다.
# np.object를 사용하면 object 데이터의 요약도 볼 수 있습니다.

In [0]:
# include=np.number 로 수치 데이터만 요약합니다.
# 여기에서는 위도와 경도만 불러와서 봅니다.

### 분류별 countplot 그리기

In [0]:
# seaborn 의 sns.countplot을 활용해서 상권업종대분류명 의 수량을 세어 막대그래프를 그려봅니다.

In [0]:
# 아래의 코드를 활용해서 음식이라는 텍스트가 들어간 데이터만 df_food 라는 데이터프레임에 저장합니다.
# df_seoul['상권업종대분류명'].str.contains('음식')

# df_food 라는 데이터프레임을 만들어 주세요.

In [0]:
# countplot 을 그리면 해당 카테코리에 해당되는 데이터의 수를 카운트해서 시각화 합니다.
# 상권업종중분류명 으로 countplot을 그려주세요.

In [0]:
# x, y축을 바꿔서 그리게 되면 위에서 글씨가 겹쳐 보이는 것을 보기 좋게 만들 수 있습니다.
# 위 그래프의 x, y축을 바꿔주세요.

## 특정 업종만 가져오기

In [0]:
# 특정 업종만 가져오고 싶다면
# df_food['상권업종중분류명'] == '패스트푸드' 를 활용해서 df_fast_food 라는 데이터 프레임을 만들어 봅니다.

In [0]:
# 해당 데이터에서 특정 컬럼만 가져오고 싶은데 컬럼명이 생각나지 않는다면 컬럼명만 가져와 봅니다.

In [0]:
# df_fast_food['상호명'] 의 unique 값만 가져옵니다.

## Folium 사용예제
http://nbviewer.jupyter.org/github/python-visualization/folium/tree/master/examples/

## 스타벅스, 이디야 위치 분석
* 상호명에서 브랜드명을 추출합니다.
* 대소문자가 섞여 있을 수도 있기 때문에 대소문자를 변환해 줍니다.
* 오타를 방지하기 위해 스타벅스의 영문명은 STARBUCKS, 이디야는 EDIYA 입니다.

In [0]:
# 상호명_소문자라는 새로운 컬럼에 df_seoul['상호명'].str.lower()로 모든 영문자를 소문자로 만들어 저장해 주세요.

In [0]:
# ediya 라는 상호가 들어가는 데이터만 가져와 주세요. 위에서 만든 상호명_소문자 컬럼을 사용합니다.
# df_seoul['상호명_소문자']

In [0]:
# '스타벅스|starbucks'라는 상호가 들어가는 데이터만 가져와 주세요. 위에서 만든 상호명_소문자 컬럼을 사용합니다.
# 참고로 | 연산자는 or를 의미합니다.

# df_seoul['상호명_소문자']

In [0]:
# '이디야|ediya'라는 상호가 들어가는 데이터만 가져와 주세요. 위에서 만든 상호명_소문자 컬럼을 사용합니다.
# 참고로 | 연산자는 or를 의미합니다.

In [0]:
# '스타벅스|starbucks|이디야|ediya 라는 상호가 들어가는 데이터만 가져와 주세요. 
# 위에서 만든 상호명_소문자 컬럼을 사용합니다.
# 결과를 df_cafe에 저장합니다.

# df_seoul['상호명_소문자']

In [0]:
# 브랜드명 이라는 컬럼을 만듭니다.
# 스타벅스만 가져와서 저장합니다.
# df_cafe['상호명_소문자'].str.contains('스타벅스|starbucks')를 활용합니다.

In [0]:
# ~은 not을 의미합니다. 스타벅스가 아닌 데이터는 이디야로 넣어주어도 되지만
# 아래 코드처럼 결측치를 이디야로 채워줘도 괜찮습니다.
# df_cafe.loc[~df_cafe['상호명_소문자'].str.contains('스타벅스|starbucks|STARBUCKS'), '브랜드명'] = '이디야'

In [0]:
# df_cafe['브랜드명'] = df_cafe['브랜드명'].fillna('이디야')

In [0]:
# 혹시라도 상호명에 결측치가 있는지 확인합니다.
# df_cafe['브랜드명'].isnull() 을 활용해서 '상호명' 이라는 컬럼을 가져옵니다.

In [0]:
# 상호명과 브랜드명이 제대로 변경되었는지 확인합니다.
# 두 가지 컬럼을 가져옵니다.

In [0]:
# 브랜드별 수량을 세어봅니다.value_counts()를 활용해 주세요.

## scatterplot
* https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#scatter-plot

In [0]:
# pandas의 scatterplot 을 그립니다.
# 스타벅스만 그리도록 되어 있는데 해당 코드를 활용해 이디야도 그리도록 합니다.
# ax = df_cafe[df_cafe["브랜드명"] == "스타벅스"].plot.scatter(
#     x="경도", y="위도", color="g", label="스타벅스")

In [0]:
# seaborn 을 통해 그려보세요.

In [0]:
geo_df = df_cafe

In [0]:
map = folium.Map(location=[geo_df['위도'].mean(), geo_df['경도'].mean()], 
                 zoom_start=12, tiles='Stamen Toner')

for n in geo_df.index:
    # 팝업에 들어갈 텍스트를 지정해 줍니다.
    popup_name = geo_df.loc[n, '상호명'] + ' - ' + geo_df.loc[n, '도로명주소']
    # 브랜드명에 따라 아이콘 색상을 달리해서 찍어줍니다.
    if geo_df.loc[n, '브랜드명'] == '스타벅스' :
        icon_color = 'green'
    else:
        icon_color = 'blue'    
        
    # folium.CircleMarker 혹은 folium.features.CircleMarker 오류가 날 경우
    # --> folium.vector_layer.CircleMarker 를 사용합니다.
    folium.CircleMarker(
        location=[geo_df.loc[n,'위도'], geo_df.loc[n, '경도']],
        radius=3,
        popup=popup_name,
        color= icon_color,
        fill=True,
        fill_color=icon_color
    ).add_to(map)


map

## 구별 브랜드별 점포수

In [0]:
df_cafe_brand = pd.DataFrame(
    df_cafe.groupby(['시군구명', '브랜드명'])['상호명'].count()
).reset_index()
df_cafe_brand.columns = ['구', '브랜드명', '매장수']
df_cafe_brand

## 막대그래프로 시각화 하기

In [0]:
# sns.barplot 을 활용해 df_cafe_brand 데이터 프레임으로 그려봅니다.
#  x='구', y='매장수', hue='브랜드명' 옵션을 사용합니다.

### Pandas의 groupby 활용하기

In [0]:
df_cafe.groupby(['시군구명'])['상호명'].count()

In [0]:
df_cafe_gu = pd.DataFrame(df_cafe.groupby(['시군구명'])['상호명'].count())
df_cafe_gu.head()

In [0]:
# df_cafe 데이터 프레임으로 시군구명, 브랜드명, 상호명 을 활용해 pivot_table 을 그립니다.
# 기본값이 평균이기 때문에 aggfunc="count" 를 지정합니다.
# 결과는 df_cafe_brand_gu에 저장합니다.

In [0]:
# Pandas 의 plot.bar를 그려봅니다.

## choropleth 그리기

* 구별로 매장수를 표현하기 위해 GeoJSON 파일 로드
    * 파일출처 : [southkorea/seoul-maps: Seoul administrative divisions in ESRI Shapefile, GeoJSON and TopoJSON formats.](https://github.com/southkorea/seoul-maps)

In [0]:
# 공유 가능한 링크로 파일 가져오기
url = 'https://drive.google.com/open?id=13j8-_XLdPe0pptsqu8-uyE-0Ym6V2jw5'
id = url.split('=')[1]
print(id)
downloaded = drive.CreateFile({'id':id}) 
# data 폴더에 파일을 관리하며, 폴더가 없다면 만들어서 파일을 관리하도록 한다.
downloaded.GetContentFile('seoul_municipalities_geo_simple.json')

In [0]:
import json

geo_path = 'seoul_municipalities_geo_simple.json'
geo_json = json.load(open(geo_path, encoding='utf-8'))

### 스타벅스 이디야 카페 매장 합계 분포

In [0]:
map = folium.Map(location=[geo_df['위도'].mean(), geo_df['경도'].mean()], 
                 zoom_start=11)

map.choropleth(geo_data = geo_json,
               data = df_cafe_gu['상호명'],
               columns = [df_cafe_brand.index, df_cafe_gu['상호명']],
               fill_color = 'Purples',
               key_on = 'feature.properties.name',
               fill_opacity=0.7,
               line_opacity=0.2,
               highlight=True)


for n in geo_df.index:
    # 팝업에 들어갈 텍스트를 지정해 줍니다.
    popup_name = geo_df.loc[n, '상호명'] + ' - ' + geo_df.loc[n, '도로명주소']
    # 브랜드명에 따라 아이콘 색상을 달리해서 찍어줍니다.
    if geo_df.loc[n, '브랜드명'] == '스타벅스' :
        icon_color = 'green'
    else:
        icon_color = 'blue'    
    
    # folium.CircleMarker 혹은 folium.features.CircleMarker 오류가 날 경우
    # --> folium.vector_layer.CircleMarker 를 사용합니다. 
    folium.CircleMarker(
        location=[geo_df.loc[n,'위도'], geo_df.loc[n, '경도']],
        radius=3,
        popup=popup_name,
        color= icon_color,
        fill=True,
        fill_color=icon_color
    ).add_to(map)

map

### 스타벅스 매장 분포

In [0]:
df_cafe_temp = df_cafe[df_cafe['브랜드명'] == '스타벅스']
df_cafe_starbucks = pd.DataFrame(df_cafe_temp.groupby(['시군구명'])['상호명'].count())
df_cafe_starbucks.columns = ['매장수']
df_cafe_starbucks.head()

In [0]:
map = folium.Map(location=[geo_df['위도'].mean(), geo_df['경도'].mean()], 
                 zoom_start=11, tiles='Stamen Toner')

map.choropleth(geo_data = geo_json,
               data = df_cafe_starbucks['매장수'],
               columns = [df_cafe_starbucks.index, df_cafe_starbucks['매장수']],
               fill_color = 'YlGn',
               key_on = 'feature.properties.name',
               fill_opacity=0.7,
               line_opacity=0.2,
               highlight=True)


for n in geo_df.index:
    # 팝업에 들어갈 텍스트를 지정해 줍니다.
    popup_name = geo_df.loc[n, '상호명'] + ' - ' + geo_df.loc[n, '도로명주소']
    # 브랜드명에 따라 아이콘 색상을 달리해서 찍어줍니다.
    if geo_df.loc[n, '브랜드명'] == '스타벅스' :
        icon_color = 'green'    

            
        # folium.CircleMarker 혹은 folium.features.CircleMarker 오류가 날 경우
        # --> folium.vector_layer.CircleMarker 를 사용합니다.
        folium.CircleMarker(
            location=[geo_df.loc[n,'위도'], geo_df.loc[n, '경도']],
            radius=3,
            popup=popup_name,
            color= icon_color,
            fill=True,
            fill_color=icon_color
        ).add_to(map)


map

### 이디야 매장 분포

In [0]:
df_cafe_temp = df_cafe[df_cafe['브랜드명'] == '이디야']
df_cafe_ediya = pd.DataFrame(df_cafe_temp.groupby(['시군구명'])['상호명'].count())
df_cafe_ediya.columns = ['매장수']
df_cafe_ediya.head()

In [0]:
map = folium.Map(location=[geo_df['위도'].mean(), geo_df['경도'].mean()], 
                 zoom_start=11, tiles='Stamen Toner')

map.choropleth(geo_data = geo_json,
               data = df_cafe_ediya['매장수'],
               columns = [df_cafe_ediya.index, df_cafe_ediya['매장수']],
               fill_color = 'PuBu',
               key_on = 'feature.properties.name',
               fill_opacity=0.7,
               line_opacity=0.2,
               highlight=True)


for n in geo_df.index:
    # 팝업에 들어갈 텍스트를 지정해 줍니다.
    popup_name = geo_df.loc[n, '상호명'] + ' - ' + geo_df.loc[n, '도로명주소']
    # 브랜드명에 따라 아이콘 색상을 달리해서 찍어줍니다.
    if geo_df.loc[n, '브랜드명'] == '이디야' :
        icon_color = 'blue'    

            
        # folium.CircleMarker 혹은 folium.features.CircleMarker 오류가 날 경우
        # --> folium.vector_layer.CircleMarker 를 사용합니다.
        folium.CircleMarker(
            location=[geo_df.loc[n,'위도'], geo_df.loc[n, '경도']],
            radius=3,
            popup=popup_name,
            color= icon_color,
            fill=True,
            fill_color=icon_color
        ).add_to(map)


map

## 매장수 크기를 반영해 CircleMaker 그리기
### Pandas 의 reshaping data 활용하기

<img src="https://i.imgur.com/IIhU0nF.png">

* 출처 : https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf
* reshaping 관련 문서 : https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

In [0]:
df_cafe_brand.head()

In [0]:
# 스타벅스 이디야가 컬럼으로 오도록 만듭니다.
df_cafe_brand_vs = df_cafe_brand.pivot_table(index='구',
                                             columns='브랜드명',
                                             values='매장수')
df_cafe_brand_vs.columns = ['스타벅스', '이디야']
df_cafe_brand_vs.head()

In [0]:
# 함수를 만듭니다. 
# 스타벅스와 이디야의 매장수를 비교해서 스타벅스가 더 많다면 1을 반환 아니면 0을 반환하도록 합니다.
# def store_count(store):

In [0]:
df_cafe_brand_vs['매장수비교'] = df_cafe_brand_vs.apply(store_count, axis=1)
df_cafe_brand_vs.head()

In [0]:
# 위와 같이 표현할 수도 있지만 아래와 같이 lambda로 간결하게 표현할 수도 있습니다.
df_cafe_brand_vs['매장수비교'] = df_cafe_brand_vs.apply( \
    lambda x : 1 if x['스타벅스'] > x['이디야'] else 0, axis=1)
df_cafe_brand_vs.head()

## 지도표현을 위해 구별 위경도 평균 구하기

In [0]:
lng_list = []
lat_list = []
for gu in df_cafe_brand_vs.index:
#     lat = 구별 평균을 구합니다.
#     lng = 구별 평균을 구합니다.
    lat_list.append(lat)
    lng_list.append(lng)
    
# df_cafe_brand_vs['위도'] = 리스트에 저장된 값을 넣어줍니다. 
# df_cafe_brand_vs['경도'] = 리스트에 저장된 값을 넣어줍니다.
df_cafe_brand_vs.head()

In [0]:
# CircleMarker의 radius 지정시 다음과 같은 타입오류가 나서 float type 으로 변경
# TypeError: Object of type 'int64' is not JSON serializable

df_cafe_brand_vs['스타벅스'] = df_cafe_brand_vs['스타벅스'].astype(float)
df_cafe_brand_vs['이디야'] = df_cafe_brand_vs['이디야'].astype(float)
df_cafe_brand_vs.info()

In [0]:
map = folium.Map(location=[geo_df['위도'].mean(), geo_df['경도'].mean()], 
                 zoom_start=11, tiles='Stamen Toner')

map.choropleth(geo_data = geo_json,
               data = df_cafe_brand_vs['매장수비교'],
               columns = [df_cafe_brand_vs.index, 
                          df_cafe_brand_vs['매장수비교']],
               fill_color = 'BuGn',
               key_on = 'feature.properties.name',
               fill_opacity=0.7,
               line_opacity=0.2,
               highlight=True)


for gu in df_cafe_brand_vs.index:
        
    for cafe in ['스타벅스', '이디야']:
        
        cafe_count = df_cafe_brand_vs.loc[gu, cafe]
        msg = f'{gu} {cafe} 매장수 : {cafe_count:.0f}'
        
        icon_color = 'blue'
        if cafe == '스타벅스': 
            icon_color = 'green'
        
        
        # folium.CircleMarker 혹은 folium.features.CircleMarker 오류가 날 경우
        # --> folium.vector_layer.CircleMarker 를 사용합니다.
        folium.CircleMarker(
            location = [df_cafe_brand_vs.loc[gu,'위도'], 
                      df_cafe_brand_vs.loc[gu, '경도']],
            radius = cafe_count,
            color = icon_color,
            popup = msg,
            fill = True,
            fill_color = icon_color
        ).add_to(map)

map

#### 지도 출력 시 색상 참고
* http://colorbrewer2.org/

## folium 공부를 위해 더 읽어보면 좋을 것 
* https://nbviewer.jupyter.org/github/python-visualization/folium/tree/master/examples/
* https://python-visualization.github.io/folium/quickstart.html#Choropleth-maps
* [PinkWink의 데이터 사이언스 관련 책 - 파이썬으로 데이터 주무르기](https://pinkwink.kr/1070)

## 카토그램 
* [총선⑫ 인구 비례로 본 당선 지도…‘카토그램’으로 살펴본 당선 현황 > 데이터룸 > 정치 > 뉴스 | KBSNEWS](http://news.kbs.co.kr/news/view.do?ncd=3264019)
* [The Housing Value of Every County in the U.S. - Metrocosm](http://metrocosm.com/the-housing-value-of-every-county-in-the-u-s/)